@media only screen and (min-width: 900px){
body{
}
.navbar-default{
	background:none;
	border: none;
}
.navbar-default div{
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 0;
}
.navbar-brand{
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0;
}
.pr{
	margin-right: 100px;
}
.main{
	background-image: url('../assets/images/hero.jpg');
	height: 1000px;
	width:  100%;
}
.end-text{
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 874px
}

.images{
	text-align: center;
}

.image{
	width: 60px;
	padding-top: 70px
}

.min-text{
	text-align: center;
	color: #0BA100;
	font-weight: 900;
}
.p-text{
	text-align: center;
}
.pat{
	padding-top: 50px;
}
.quote{
	text-align: center;
	margin-top: 50px;
}
.profile{
	width: 100px;
}
.quote-text{
	text-align: left;
}
}
@media only screen and (max-width: 899px){
body{
}
.navbar-default{
	background:none;
	border: none;
}
.navbar-default div{
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 0;
}
.navbar-brand{
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0;
}
.pr{
	margin-right: 100px;
}
.main{
	background-image: url('../assets/images/hero.jpg');
	height: 1000px;
	width:  100%;
}
.end-text{
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 874px
}

.images{
	text-align: center;
}

.image{
	width: 60px;
	padding-top: 70px
}

.min-text{
	text-align: center;
	color: #0BA100;
	font-weight: 900;
}
.p-text{
	text-align: center;
}
.pat{
	padding-top: 50px;
}
}